extends layouts/main-layout.pug 

block content 
    h1 Page Not Found!

    //- Using the layout functionality allows groupin of 
    //-common data into a layout file like we did then de block is used when dynamic
    //-content will be then the dynamic content is specified in the normal pug file 
    //- like we did here we can also do it for the shop and add-product page but i will leave those ones like that 
    //-to properly show the other method