doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title #{docTitle}
        link(rel="stylesheet", href="/css/main.css")
    body 
        header.main-header
            nav.main-header__nav
                ul.main-header__item-list
                    li.main-header__item
                        a.active(href="/")  Shop
                    li.main-header__item
                        a(href="/add-product") Add Product 
        main
            if prods.length>0 
                .grid
                    each product in prods 
                        article.card.product-item   
                            header.card__header 
                                h1.product__title #{product.title}
                            div.card__image
                            img(src="https://static.scientificamerican.com/sciam/cache/file/1DDFE633-2B85-468D-B28D05ADAE7D1AD8_source.jpg?w=1200", alt="A book")
                            .card__content   
                                h2.product__price $10.99
                            p.product__description An interesting book about a great topic.
                            .card__actions
                                button.btn Add to Cart
            else 
                h1 No Products



