<%- include('../includes/head.ejs') //This is the layout functionality for EJS %>   

  <body>
   <%- include('../includes/navigation.ejs') //This is the layout functionality for EJS %>  

    <%- include('../includes/displayproducts.ejs') %>
  </body>
</html>
